<!-- templates/about_the_club.html -->
{% extends "base.html" %}

{% block title %}About · UoB BJJ{% endblock %}

{% block background %}
about-bg
{% endblock %}

{% block content %}
<div class="container text-center">
  <div class="row">
    <h1 class="mt-2">About the club</h1>
    <h5>The UoB Brazilian Jiu Jitsu club is the newest addition to UB Sport martial arts clubs starting in the second term of 2023.</h5>
    <p>We accept everybody, no matter who you are or what your goals are; we aim to make our gym a place anybody can train and learn high quality BJJ. Whether you want to compete or are just looking to give BJJ a go, we can assure you, we have a place for you.</p>
    <p>What sets us apart from other clubs is our world class coaching staff. We are very proud to have our two fantastic coaches, Bradley and Melissa Hill. </p>
    <p>Bradley Hill is an athlete who has had great success in competition, his accomplishments include: 2x European Champion and medalist at the World Championships. In addition to his competitive career Bradley runs the Royal Jiu Jitsu academy and coaches the MMA UFC Welterweight Champion Leon Edwards; most recently to win his trilogy fight to win the championship belt.</p>
    <p>Melissa Hill is a National champion at purple belt who recently won her debut at Polaris Professional, the worlds biggest BJJ promotion event. She’s a rising star in the UK competition scene, and also a great advocate for women’s BJJ, running very popular women’s self defence courses.</p>
    <p>With us you’ll have the opportunity to compete in local and National level competitions as well as the annual university league competition. And we’ll be there with you every step of the way to offer our guidance and support.</p>
    <p>With the help of our fantastic coaches our team has already started to take shape. And we aspire to be the best university Brazilian Jiu Jitsu team in the country.</p>
    <h5>Key contact</h5>
    <p>President: Ryan Ralph</p>
    <h5>Links</h5>
    <a href="mailto:ryan.a.ralph@gmail.com" target="_blank">Contact Us</a>
    <a href="https://www.usbonline.bham.ac.uk/JoinAtHome/" target="_blank">Join Us</a>
    <a href="https://instagram.com/uob_bjj?igshid=MjEwN2IyYWYwYw==" target="_blank">Follow us on instagram</a>
  </div>
</div>
{% endblock %}
