<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Sign Up · UoB BJJ{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {% for row in event_data %}
    {% if row['registered'] %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="row rounded m-auto p-1 border mt-3 registered_event">
        <h2>{{ row['event_name'] }}</h2>
        <h5>{{ row['date'] }}</h5>
        <hr class="m-0">
        <div class="col-5">
          <i class="bi bi-clock-fill"></i> {{ row['start_time'] }}-{{ row['end_time'] }}<br>
        </div>
        <div class="col-7">
          <i class="bi bi-people-fill"></i> {{ row['capacity'] }} Spaces available
        </div>
        <div class="col-5 mb-1">
          <i class="bi bi-person-fill"></i> {{ row['event_coach'] }}
        </div>
        <!-- <div class="col-7 mb-1">
          <i class="bi bi-search"></i> {{ row['event_topic'] }}
        </div> -->
        <div class="col-12 mb-1">
          <i class="bi bi-geo-alt-fill"></i><a href="{{ row['location_link'] }}" class="text-white" target="_blank">{{ row['location'] }}</a>
        </div>
        <input type="hidden" name="event_id" id="event_id" value="{{ row['event_id'] }}">
        <button type="submit" class="btn btn-success w-100" disabled>Signed up</button>
        <form action="{{  url_for('cancel_sign_up') }}" method="GET" class="m-0 p-0">
          <input type="hidden" name="event_id" id="event_id" value="{{ row['event_id'] }}">
          <button type="submit" class="btn btn-success mt-1 w-100">Cancel sign up</button>
        </form>
        {% if row['booked_gi']%}
        <form action="{{  url_for('book_taster_gi') }}" method="GET" class="m-0 p-0"></form>
          <input type="hidden" name="event_id" id="event_id" value="{{ row['event_id'] }}">
          <button type="submit" class="btn btn-success mt-1 w-100" disabled>You have reserved a Gi</button>
        </form>
        {% else %}
        <form action="{{  url_for('book_taster_gi') }}" method="GET" class="m-0 p-0">
          <input type="hidden" name="event_id" id="event_id" value="{{ row['event_id'] }}">
          {% if row['gis_booked'] >= 5 %}
          <button type="submit" class="btn btn-success mt-1 w-100" disabled>Taster Gi's fully booked</button>
          {% elif row['category'] != 'Gi' %}
          <button type="submit" class="btn mt-1 w-100" hidden>Reserve Taster Gi</button>
          {% else %}
          <button type="submit" class="btn btn-success mt-1 w-100">Reserve Taster Gi</button>
          {% endif %}
        </form>
        {% endif %}
        {% if user.user_role == 'committee' or user.user_role == 'administrator' %}
        <form action="{{  url_for('view_sign_ups') }}" method="GET" class="m-0 p-0">
          <input type="hidden" name="event_id" id="event_id" value="{{ row['event_id'] }}">
          <button type="submit" class="btn btn-success mt-1 w-100">View sign ups</button>
        </form>
        <form action="{{  url_for('edit_event') }}" method="GET" class="m-0 p-0">
          <input type="hidden" name="event_id" id="event_id" value="{{ row['event_id'] }}">
          <button type="submit" class="btn btn-success mt-1 w-100">Edit event info</button>
        </form>
        {% endif%}
      </div>
    </div>
    {% else %}
    <div class="col-12 col-md-6 col-lg-4">
      <form action="{{  url_for('class_sign_up') }}" method="GET">
      <div class="row rounded m-auto p-1 border mt-3 event">
        <h2>{{ row['event_name'] }}</h2>
        <h5>{{ row['date'] }}</h5>
        <hr class="m-0">
        <div class="col-5">
          <i class="bi bi-clock-fill"></i> {{ row['start_time'] }}-{{ row['end_time'] }}<br>
        </div>
        <div class="col-7">
          <i class="bi bi-people-fill"></i> {{ row['capacity'] }} Spaces available
        </div>
        <div class="col-5 mb-1">
          <i class="bi bi-person-fill"></i> {{ row['event_coach'] }}
        </div>
        <!-- <div class="col-7 mb-1">
          <i class="bi bi-search"></i> {{ row['event_topic'] }}
        </div> -->
        <div class="col-12 mb-1">
          <i class="bi bi-geo-alt-fill"></i><a href="{{ row['location_link'] }}" class="text-white" target="_blank">{{ row['location'] }}</a>
        </div>
        <input type="hidden" name="event_id" id="event_id" value="{{ row['event_id'] }}">
        {% if row['capacity'] == 0 %}
          <button type="button" class="btn btn-warning" disabled>Fully booked</button>
        {% else %}
          <button type="submit" class="btn btn-warning">Sign up</button>
        {% endif %}
        </form>
        <form action="{{  url_for('book_taster_gi') }}" method="GET" class="m-0 p-0"></form>
          <input type="hidden" name="event_id" id="event_id" value="{{ row['event_id'] }}">
          {% if row['gis_booked'] >= 5 %}
          <button type="submit" class="btn btn-success mt-1 w-100" disabled>Taster Gi's fully booked</button>
          {% elif row['category'] != 'Gi' %}
          <button type="submit" class="btn mt-1 w-100" hidden>Reserve Taster Gi</button>
          {% else %}
          <button type="submit" class="btn btn-success mt-1 w-100" disabled>Sign up to session to reserve a gi</button>
          {% endif %}
        </form>
        {% if user.user_role == 'committee' or user.user_role == 'administrator' %}
        <form action="{{  url_for('view_sign_ups') }}" method="GET" class="m-0 p-0">
          <input type="hidden" name="event_id" id="event_id" value="{{ row['event_id'] }}">
          <button type="submit" class="btn btn-success mt-1 w-100">View sign ups</button>
        </form>
        <form action="{{  url_for('edit_event') }}" method="GET" class="m-0 p-0">
          <input type="hidden" name="event_id" id="event_id" value="{{ row['event_id'] }}">
          <button type="submit" class="btn btn-success mt-1 w-100">Edit event info</button>
        </form>
        {% endif%}
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
