<html>
    <body>
        <table style="width: 100%; max-width: 600px; margin: auto; font-family: Arial, sans-serif; border: 1px solid #ddd; border-radius:10px;">
            <tr>
                <td style="background-color: #181818; padding: 20px; text-align: center; border-radius:10px;">
                    <img src="https://www.uobbjj.co.uk/static/logo.jpg" class="bi" height="100px" width="100px">
                    <h1 style="color: white;">Thank you for creating an account!</h1>
                </td>
            </tr>
            <tr>
                <td style="padding: 20px;">
                    <p>Dear {{ first_name }},</p>
                    <p style="color: #555;">Thank you for creating an account. We're excited to see you at our taster sessions! Here's what you can do next:</p>
                    <ul>
                        <li><a href="https://www.uobbjj.co.uk/" style="color: #C59A00;">Sign up to our Jiu-Jitsu Sessions</a></li>
                        <li><a href="https://www.uobbjj.co.uk/" style="color: #C59A00;">Book a taster Gi if you need one</a></li>
                        <li><a href="https://www.uobbjj.co.uk/about" style="color: #C59A00;">Learn more about our club</a></li>
                        <li><a href="https://www.instagram.com/uob_bjj/?igshid=MjEwN2IyYWYwYw%3D%3D" style="color: #C59A00;">Check out our instagram</a></li>
                    </ul>
                    <p>Many thanks,<br><br><strong>The UoB BJJ Team</strong></p>
                    <p style="color: #888; font-size: 12px;">Please note, registering for this app does not make you a member at the club, if you would like to please do so <a style="color: #C59A00;" href="https://www.usbonline.bham.ac.uk/JoinAtHome/MemberRegistration.aspx?refresh=638616545054814978">here</a></p>
                </td>
            </tr>
            <tr>
                <td style="background-color: #f7f7f7; padding: 20px; text-align: center; color: #888; font-size: 12px;">
                    <p>Please do not reply to this email, the inbox is not monitored.</p>
                    <p>&copy; 2024 UoB BJJ. All rights reserved.</p>
                </td>
            </tr>
        </table>
    </body>
</html>